@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/*
CDN font gilroy, sans -serif;
uso:
    font-family: 'Gilroy-Bold', sans-serif;
    font-family: 'Gilroy-Heavy', sans-serif;
    font-family: 'Gilroy-Light', sans-serif;
    font-family: 'Gilroy-Medium', sans-serif;
    font-family: 'Gilroy-Regular', sans-serif;
*/
@import url("https://fonts.cdnfonts.com/css/gilroy-bold");

/*Global Styles */
body{
    font-family: 'Gilroy-Medium', sans-serif;
}
